<%- partial('_partial/head') %>
<body>
  <div class="wrapper">
    <%- partial('_partial/header') %>
    <div class="content"><%- body %></div>
  </div>


<div class="widget-wrapper">
  <aside id="sidebar">
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }); %>
  </aside>
  <div class="clearfix"></div>
</div>


  <footer id="footer"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after-footer') %>
</body>
</html>
